{% extends "base.html" %}

{% load static %} 

{% block title %}
    Home-BIOS
{% endblock title %}

{% block content %}

<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="breadcrumb-text">
                  <a href="#"><i class="fa fa-home"></i> Principal</a>
                  <span>Blog</span>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Breadcrumb Section Begin -->

<!-- Blog Section Begin -->
<section class="blog-section spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1">
              <div class="blog-sidebar">
                  <div class="search-form">
                      <h4>Buscar</h4>
                      <form action="#">
                          <input type="text" placeholder="Buscar . . .  ">
                          <button type="submit"><i class="fa fa-search"></i></button>
                      </form>
                  </div>
                  <div class="blog-catagory">
                      <h4>Categorias</h4>
                      <ul>
                          <li><a href="#">Moda</a></li>
                          <li><a href="#">Viaje</a></li>
                          <li><a href="#">Picnic</a></li>
                          <li><a href="#">Modelo</a></li>
                      </ul>
                  </div>
                  <div class="recent-post">
                      <h4>Publicación reciente</h4>
                      <div class="recent-blog">
                          <a href="#" class="rb-item">
                              <div class="rb-pic">
                                  <img src="{% static 'img/blog/recent-1.jpg' %}" alt="">
                              </div>
                              <div class="rb-text">
                                  <h6>El rasgo de personalidad que hace ...</h6>
                                  <p>Moda <span>- Mayo 19, 2019</span></p>
                              </div>
                          </a>
                          <a href="#" class="rb-item">
                              <div class="rb-pic">
                                  <img src="{% static 'img/blog/recent-2.jpg' %}" alt="">
                              </div>
                              <div class="rb-text">
                                  <h6>El rasgo de personalidad que hace...</h6>
                                  <p>Moda <span>- Mayo 19, 2019</span></p>
                              </div>
                          </a>
                          <a href="#" class="rb-item">
                              <div class="rb-pic">
                                  <img src="{% static 'img/blog/recent-3.jpg' %}" alt="">
                              </div>
                              <div class="rb-text">
                                  <h6>El rasgo de personalidad que hace ...</h6>
                                  <p>Moda <span>- Mayo 19, 2019</span></p>
                              </div>
                          </a>
                          <a href="#" class="rb-item">
                              <div class="rb-pic">
                                  <img src="{% static 'img/blog/recent-4.jpg' %}" alt="">
                              </div>
                              <div class="rb-text">
                                  <h6>El rasgo de personalidad que hace ...</h6>
                                  <p>Moda <span>- Mayo 19, 2019</span></p>
                              </div>
                          </a>
                      </div>
                  </div>
                  <div class="blog-tags">
                      <h4>Etiquetas de productos </h4>
                      <div class="tag-item">
                          <a href="#">Toalla</a>
                          <a href="#">Zapatos</a>
                          <a href="#">Abrigo</a>
                          <a href="#">Vestidos</a>
                          <a href="#">Pantalones </a>
                          <a href="#">Sombreros de hombre</a>
                          <a href="#">Mochila</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-9 order-1 order-lg-2">
              <div class="row">
                  <div class="col-lg-6 col-sm-6">
                      <div class="blog-item">
                          <div class="bi-pic">
                              <img src="{% static 'img/blog/blog-1.jpg' %}" alt="">
                          </div>
                          <div class="bi-text">
                              <a href="{% url 'blog-details' %}">
                                  <h4>El rasgo de personalidad que hace a las personas más felices</h4>
                              </a>
                              <p>viaejes <span>- Mayo 19, 2019</span></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6 col-sm-6">
                      <div class="blog-item">
                          <div class="bi-pic">
                              <img src="{% static 'img/blog/blog-2.jpg' %}" alt="">
                          </div>
                          <div class="bi-text">
                              <a href="{% url 'blog-details' %}">
                                  <h4>Este fue uno de nuestros primeros días en Hawái la semana pasada.</h4>
                              </a>
                              <p>Moda <span>- Mayo 19, 2019</span></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6 col-sm-6">
                      <div class="blog-item">
                          <div class="bi-pic">
                              <img src="{% static 'img/blog/blog-3.jpg' %}" alt="">
                          </div>
                          <div class="bi-text">
                              <a href="{% url 'blog-details' %}">
                                <h4>La semana pasada tuve mi primer viaje de trabajo del año a Sonoma Valley</h4>
                              </a>
                              <p>viaje <span>- Mayo 19, 2019</span></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6 col-sm-6">
                      <div class="blog-item">
                          <div class="bi-pic">
                              <img src="{% static 'img/blog/blog-4.jpg' %}" alt="">
                          </div>
                          <div class="bi-text">
                              <a href="{% url 'blog-details' %}">
                                  <h4>¡Feliz año nuevo! Sé que llegué un poco tarde en esta publicación</h4>
                              </a>
                              <p>Moda <span>- Mayo 19, 2019</span></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6 col-sm-6">
                      <div class="blog-item">
                          <div class="bi-pic">
                              <img src="{% static 'img/blog/blog-5.jpg' %}" alt="">
                          </div>
                          <div class="bi-text">
                              <a href="{% url 'blog-details' %}">
                                  <h4>Colección Absolue. El equipo de Lancome ha sido primero...</h4>
                              </a>
                              <p>Modelo <span>- Mayo 19, 2019</span></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6 col-sm-6">
                      <div class="blog-item">
                          <div class="bi-pic">
                              <img src="{% static 'img/blog/blog-6.jpg' %}" alt="">
                          </div>
                          <div class="bi-text">
                              <a href="{% url 'blog-details' %}">
                                  <h4>Escribir siempre ha sido algo terapéutico para mí.</h4>
                              </a>
                              <p>Moda <span>- Mayo 19, 2019</span></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-12">
                      <div class="loading-more">
                          <i class="icon_loading"></i>
                          <a href="#">
                            Cargando más
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Blog Section End -->

{% endblock content %}
