{% extends "base.html" %}

{% load static %} 

{% block title %}
    Blog Details
{% endblock title %}

{% block content %}

<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="breadcrumb-text">
                  <a href="#"><i class="fa fa-home"></i> Home</a>
                  <a href="#"><i class="fa"></i> Blog</a>
                  <span>Blog Detail</span>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Breadcrumb Section End -->

<h1>Blog Details</h1>

{% endblock content %}
