{% extends "base.html" %}

{% load static %} 

{% block title %}
    {{page.title}}
{% endblock title %}

{% block content %}
 
{% for content in contents%} 
<h1>{{content.title}}</h1>
<!-- Hero Section Begin -->
<section class="hero-section">
    <div class="hero-items owl-carousel"> 
        {% for image in content.carrousel.image_set.all %}
        <div class="single-hero-items set-bg" data-setbg="/media/{{image.image}}"> 
        </div>
        {% endfor %}
    </div>
</section>
<!-- Hero Section End -->

<!-- Body -->
{{ content.body|safe }}

<!-- Body -->

{% endfor %}
{% endblock content %}