{% extends "base.html" %}

{% load static %} 

{% block title %}
    Detalles del Blog
{% endblock title %}

{% block content %}

    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="breadcrumb-text product-more">
                      <a href="{% url 'home' %}"><i class="fa fa-home"></i> Casa</a>
                      <a href="{% url 'shop' %}">Compra</a>
                      <span>Verificar</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Breadcrumb Section Begin -->

  <!-- Shopping Cart Section Begin -->
  <section class="checkout-section spad">
      <div class="container">
          <form action="#" class="checkout-form">
              <div class="row">
                  <div class="col-lg-6">
                      <div class="checkout-content">
                          <a href="#" class="content-btn">Haga Click para Ingresar</a>
                      </div>
                      <h4>Detalles de facturación</h4>
                      <div class="row">
                          <div class="col-lg-6">
                              <label for="fir">Nombre<span>*</span></label>
                              <input type="text" id="fir">
                          </div>
                          <div class="col-lg-6">
                              <label for="last">Apellido<span>*</span></label>
                              <input type="text" id="last">
                          </div>
                          <div class="col-lg-12">
                              <label for="cun-name">Nombre de la Empresa</label>
                              <input type="text" id="cun-name">
                          </div>
                          <div class="col-lg-12">
                              <label for="cun">Ciudad<span>*</span></label>
                              <input type="text" id="cun">
                          </div>
                          <div class="col-lg-12">
                              <label for="street">Dirección<span>*</span></label>
                              <input type="text" id="street" class="street-first">
                              <input type="text">
                          </div>
                          <div class="col-lg-12">
                              <label for="zip">Codigo Postal / ZIP (Opcional)</label>
                              <input type="text" id="zip">
                          </div>
                          <div class="col-lg-12">
                              <label for="town">Pueblo / Ciudad<span>*</span></label>
                              <input type="text" id="town">
                          </div>
                          <div class="col-lg-6">
                              <label for="email">Correo<span>*</span></label>
                              <input type="text" id="email">
                          </div>
                          <div class="col-lg-6">
                              <label for="phone">Telefono<span>*</span></label>
                              <input type="text" id="phone">
                          </div>
                          <div class="col-lg-12">
                              <div class="create-item">
                                  <label for="acc-create">
                                      Crear Cuenta?
                                      <input type="checkbox" id="acc-create">
                                      <span class="checkmark"></span>
                                  </label>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="checkout-content">
                          <input type="text" placeholder="Ingrese el Código del Cupón">
                      </div>
                      <div class="place-order">
                          <h4>Pedido</h4>
                          <div class="order-total">
                              <ul class="order-table">
                                  <li>Producto <span>Total</span></li>
                                  <li class="fw-normal">Combinación x 1 <span>$60.00</span></li>
                                  <li class="fw-normal">Combinación x 1 <span>$60.00</span></li>
                                  <li class="fw-normal">Combinación x 1 <span>$120.00</span></li>
                                  <li class="fw-normal">Subtotal <span>$240.00</span></li>
                                  <li class="total-price">Total <span>$240.00</span></li>
                              </ul>
                              <div class="payment-check">
                                  <div class="pc-item">
                                      <label for="pc-check">
                                          Pago con Cheque
                                          <input type="checkbox" id="pc-check">
                                          <span class="checkmark"></span>
                                      </label>
                                  </div>
                                  <div class="pc-item">
                                      <label for="pc-paypal">
                                          Paypal
                                          <input type="checkbox" id="pc-paypal">
                                          <span class="checkmark"></span>
                                      </label>
                                  </div>
                              </div>
                              <div class="order-btn">
                                  <button type="submit" class="site-btn place-btn">Realizar Pedido</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </form>
      </div>
  </section>
  <!-- Shopping Cart Section End -->

{% endblock content %}
