{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col mt-3 offset-2">
      <div class="card" style="width: 20rem">
        <img
          src="{% static 'img/logo.png' %}"
          class="img-rounded  mt-3 mx-auto"
          width="150"
        />

        <div class="card-body">
          <h5 class="text-center text-uppercase text-info font-weight-bold">
            Concepto Médico
          </h5>
          <h6>
            <small>Certifica que el paciente se encuentra apto para manupular
              alimentos, no tiene ninguna patología infectó contagiosa, se
              encuentra sano sin ninguna restricción</small>
          </h6>
          <p><i class="fa fa-whatsapp"></i> 301 319 2047</p>
        </div>
        <h6 class="text-left text-uppercase text-info font-weight-bold display-6 ml-3">FECHA EXPEDICIÓN</h6>
        <h6 class="text-left text-danger pl-3">{{capacity.assistancecertificate.date}}</h6>
        <h6 class="text-center mt-3">
          <img
            src="/media/{{capacity.medicalcertificate.doctor.official.url}}"
            class="img-thumbnail border-0 mx-auto"
            alt="Firma Microbología"
            width="150"
            height="150"
          />
          <p class="h7"><small>Firma Medico Especialista</small></p>
        </h6>
      </div>
    </div>

    <div class="col mt-3 ">
      <div class="card" style="width: 20rem">
        <img
          src="{% static 'img/logo.png' %}"
          class="img-rounded mt-3 mx-auto"
          width="150"
        />
        <div class="card-body">
          <h6 class="display-5"><span class="text-danger font-weight-bold">No.</span> {{capacity.consecutive}}</h6>
          <p class="h6 text-center">
            <small>En cumplimiento de la resolución 2674 de 2013 articulo 36
              parágrados 1 y 2.</small></p>
              <p class="text-center mb-0">Hace constar que:</p>
        </div>
        <h6 class="text-center text-uppercase">
          {{capacity.assistancecertificate.assistance.assistance.person.name}}
          {{capacity.assistancecertificate.assistance.assistance.person.last_name}}
        </h6>
        <h6 class="text-center">
          con documento de identidad N°
        </h6>
        <h6 class="text-center">
          {{capacity.assistancecertificate.assistance.assistance.person.identification}}
        </h6>
        <h6 class="text-center m-2">
          <small
            >El portador de este carnet asistió a la capacitación {{capacity.medicalcertificate.conceptype.name}}</small>
          </h6>
          <p class="text-center">
            <img
            src="/media/{{capacity.assistancecertificate.capacitation.official.url}}"
            class="img-thumbnail border-0 mb-0 mx-auto"
            alt="Firma Administrativo"
            width="150"
            height="150"
          />
          <p class="h6 mt-0 p-0 text-center"><small>Firma Capacitador</small></p>
          </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
