{% extends 'base.html' %} 
{% block content %}
<ul class="list-group list-group-flush">
  <div class="bd-manipulator">
    {% if medicalList %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Fecha</th> 
          <th scope="col">Opciones</th> 
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for certificate in medicalList %}
          <th scope="row">{{certificate.id}}</th>
          <td>{{certificate.date}}</td>
          <td><a href="{% url 'certificate-letter' certificate.id %}"> Aquí</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>There are no people available.</p>
    {% endif %} 
  </div>

  <div class="bd-manipulator">
    {% if assistanceList %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Fecha</th> 
          <th scope="col">Opciones</th> 
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for certificate in assistanceList %}
          <th scope="row">{{certificate.id}}</th>
          <td>{{certificate.date}}</td>
          <td><a href="{% url 'certificate-letter' certificate.id %}"> Aquí</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>There are no people available.</p>
    {% endif %} 
  </div>
</ul>
{% endblock %}