{% extends "base.html" %}

{% load static %} 

{% block title %}
    Certificado Medico-BIOS
{% endblock title %}

{% block content %}

    <div class="container border border-primary mt-3 rounded">
        <div class="row justify-content-center" style="background-color: #DAEDFB;">
            <div class="col-sm-5 logo">
                <img src="{% static 'img/logo.png' %}" width="200px"/>
            </div>
            <div class="col-sm-7 ">
                <h4 class="justify-content-center">Certificado Médico</h4>
                <h4>Manipulador de Alimentos</h4>
                <div class="border border-primary text-center rounded" style="background-color: #ffffff;">
                    No. {{certificate.consecutive}}
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="d-flex flex-column mb-10 mb-md-0">
                    <div class="d-flex justify-content-between mb-3">
                        <span class="mr-15 font-weight-bold">Empresa:</span>
                        <span class="text-right">{{certificate.manipulator.entity.name}}</span>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <span class="mr-15 font-weight-bold">Fecha:</span>
                        <span class="text-right">{{certificate.date}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-6">
                    <div class="d-flex flex-column mb-10 mb-md-0">
                        <div class="d-flex justify-content-between mb-3">
                            <span class="mr-15 font-weight-bold">Ciudad:</span>
                            <span class="text-right">{{certificate.manipulator.person.city}}</span>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <span class="mr-15 font-weight-bold"></span>
                            <span class="text-right"> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" style="background-color: #DAEDFB;">
            <h2 class="m-1">Información Personal</h2>
        </div>
        <div class="row justify-content-center">

            <div class="col-md-6">
                <div class="d-flex flex-column mb-10 mb-md-0">
                    <div class="d-flex justify-content-between mb-3">
                        <span class="mr-15 font-weight-bold">Nombres y Apellidos:</span>
                        <span class="text-right">{{certificate.manipulator.person.name}} {{certificate.manipulator.person.last_name}}</span>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <span class="mr-15 font-weight-bold">Tipo Doc Identidad:</span>
                        <span class="text-right">{{certificate.manipulator.person.type_document}}</span>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <span class="mr-15 font-weight-bold">Email:</span>
                        <span class="text-right">{{certificate.manipulator.person.email}}</span>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <span class="mr-15 font-weight-bold">Teléfono:</span>
                        <span class="text-right">{{certificate.manipulator.person.phone}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex flex-column mb-10 mb-md-0">
                    <div class="d-flex justify-content-between mb-3">
                        <span class="mr-15 font-weight-bold">Cargo:</span>
                        <span class="text-right">{{certificate.manipulator.person.job}}</span>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <span class="mr-15 font-weight-bold">Doc Identidad:</span>
                        <span class="text-right">{{certificate.manipulator.person.identification}}</span>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <span class="mr-15 font-weight-bold">Dirección:</span>
                        <span class="text-right">{{certificate.manipulator.person.address}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" style="background-color: #DAEDFB;">
            <h2>Laboratorios</h2>
        </div>
        <div class="row justify-content-center">

            <div class="col-md-12-center">
                {% if tests %}
                <ol>
                    {% for test in tests %}
                    <li>{{test.typetest.name}} {{test.result}}</li>
                    {% endfor %}
                </ol>
                {% else %}
                <p>There are test available.</p>
                {% endif %} 
            </div>
        </div>

        <div class="row justify-content-center" style="background-color: #DAEDFB;">
            <h2>Diagnostico médico</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <p class="mb-5">{{certificate.diagnostic}}</p>
            </div>
        </div>
        <div class="row justify-content-center" style="background-color: #DAEDFB;">
            <h2>Diagnostico médico</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                
                {% if concepts %}
                {% for concept in concepts %}
                
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
                        <label class="form-check-label" for="defaultCheck1">
                            {{concept.name}}
                        </label>
                    </div> 
                    
                {% endfor %}
               
                {% else %}
                <p>There are Concepts available.</p>
                {% endif %} 

                    
                 
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="text-center">
                    <img src="images/firma.png" class="img-fluid" width="170px" height="100px" />
                    <br/>
                    <small>Firma del médico</small>
                </div>

            </div>
        </div>
    </div>

    {% endblock content%}
